.seguros{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-right: 5rem;
    padding-left: 5rem;
    margin: 2rem;
    box-sizing: border-box;
    align-items: center;
}
.segurosForm{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    border: 2px solid brown;
    width: 80%;
    box-sizing: content-box;
}
.segurosFormDatos{
    display: block;
    max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em;
}
.seguroFormPlan1{
   max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}
.seguroFormPlan2{
   max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}
.seguroFormPlan3{
   max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}
.seguroFormBtn{
    max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}


label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
h2{
    font-size: 35px;
    border-bottom: 1px solid black;
}