.seguros{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-right: 5rem;
    padding-left: 5rem;
    margin: 2rem;
    box-sizing: border-box;
    align-items: center;
}
.segurosForm{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    border: 2px solid brown;
    width: 80%;
    box-sizing: content-box;
}
.segurosFormDatos{
    display: block;
    max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em;
}
.seguroFormPlan1{
   max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}
.seguroFormPlan2{
   max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}
.seguroFormPlan3{
   max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}
.seguroFormBtn{
    max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5em; 
}


label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
h2{
    font-size: 35px;
    border-bottom: 1px solid black;
}

.mostrarSegurosJson{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 15px;
    justify-content: center;
}
ul{
    border: solid 3px rgba(146, 45, 45, 0.678);
    margin: 1rem;
    height: 100%;
    width: 150px;
    font-size: 18px;
    list-style: none;
    padding: 10px;
    background-color: rgba(165, 42, 42, 0.158);
}
#tituloDivSeguros{
    margin: 3px;
    width: 100%;
    text-align: center;
}
#resumenSeguro3{
    display: block;
    
}